<div class="home">
  <div class="card" style="width: 18rem;">
    <img src="assets/logo.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Sistemas embarcados</h5>
      <a href="#pet-tracker" class="btn btn-primary mt-2 ml-4">Localizar meu pet!</a>
      <div class="members mt-4 ml-4">
        <p class="card-text">- André Guilherme</p>
        <p class="card-text">- Cawan Melo</p>
        <p class="card-text">- João Victor Brandão</p>
        <p class="card-text">- João Victor Melo</p>
        <p class="card-text">- Felipe Castro</p>
      </div>
    </div>
  </div>
</div>
